@import "@fontsource-variable/jetbrains-mono";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    --theme-text: 6 24 34;
    --theme-background: 242 249 253;
    --theme-primary: 91 107 225;
    --theme-secondary: 236 197 177;
    --theme-accent: 172 156 32;
    --theme-accent-2: 4 2 1;
  }

  :root.dark {
    color-scheme: dark;
    --theme-text: 242 249 253;
    --theme-background: 6 24 34;
    --theme-primary: 91 107 225;
    --theme-secondary: 4 2 1;
    --theme-accent: 231 219 126;
    --theme-accent-2: 236 197 177;
  }

  html {
    @apply h-full scroll-smooth;
  }

  html body {
    @apply mx-auto flex h-full max-w-[88vw] flex-col bg-bgColor pt-16 text-base font-normal text-textColor antialiased md:max-w-3xl md:px-8;
  }

  a,
  img {
    @apply rounded;
  }
  :focus-visible {
    @apply outline-none ring-4 ring-primary/[.75] ring-offset-2 ring-offset-bgColor;
  }
  .prose pre {
    @apply -mx-[6vw] w-screen rounded-none md:mx-auto md:w-full md:rounded;
  }
  .prose > code {
    @apply font-extrabold;
  }
  .prose figcaption {
    @apply -mt-6 border-l-2 border-accent2 pl-2 italic text-textColor;
  }
  .md-title {
    @apply relative;
  }
  .md-title a {
    @apply block rounded no-underline before:absolute before:right-full before:block before:pr-1 before:opacity-100 before:content-["#"] before:hover:text-primary;
  }
}
