---
import Base from "@/layouts/Base.astro";
---

<Base meta={{ title: "Home" }}>
  <section class="mb-16">
    <h1 class="title mb-6">404 | Page not found</h1>
    <p class="mb-4">
      Hey, I been there, ain't no problem at all - no need to be embarrassed!
    </p>
    <p>Just use the handy nav bar ☝️ up there to get back on your feet.</p>
  </section>
</Base>
