---
import { menuItems, config } from "@/constants";
import ThemeToggle from "./ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header id="main-header" class="group relative mb-20 flex items-center">
  <div class="flex flex-col">
    <a class="rounded" href="/">
      <span class="text-xl font-bold sm:text-2xl">{config.title}</span>
    </a>
    <nav
      id="navigation-menu"
      class="text-primary divide-primary -ms-4 mt-1 flex flex-row items-center divide-x-2 divide-dotted font-semibold"
      aria-label="Main menu"
    >
      {
        menuItems.map(({ title, path }) => (
          <a href={path} class="rounded px-4 hover:underline">
            {title}
          </a>
        ))
      }
    </nav>
  </div>
  <ThemeToggle />
</header>
