---
import type { MarkdownHeadingTree } from "./PostOutline.astro";

interface Props {
  headings: MarkdownHeadingTree;
}

const { headings } = Astro.props;
---

<ul class="[&:not(#post-outline>ul)]:ml-2">
  {
    headings.map((h) => (
      <li class="line-clamp-2">
        <div class="mt-2 flex flex-row items-center border-l-[3px] border-gray-200 pl-2 hover:border-blue-500">
          <a
            class="block"
            href={`#${h.slug}`}
            aria-label={`Scroll to section: ${h.text}`}
          >
            {h.text}
          </a>
        </div>
        {!!h.children?.length && <Astro.self headings={h.children} />}
      </li>
    ))
  }
</ul>
