---
import type { Meta } from "@/constants";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";

type Props = {
  meta: Meta;
};

const {
  meta: { title, description, ogImageSrc, publishedAt },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImageSrc={ogImageSrc}
      publishedAt={publishedAt}
    />
  </head>
  <body>
    <Header />
    <main id="main" class="flex-1">
      <slot />
    </main>
  </body>
</html>
