---
import type { Meta } from "@/constants";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import SkipToMain from "@/components/SkipToMain.astro";

type Props = {
  meta: Meta;
};

const {
  meta: { title, description, ogImageSrc, publishedAt },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImageSrc={ogImageSrc}
      publishedAt={publishedAt}
    />
  </head>
  <body>
    <ThemeProvider />
    <SkipToMain />
    <Header />
    <main id="main" class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
